{% extends 'customer/customer_base.html' %}

{% block content %}
<div class="container">
    <br>
    <div class="card">
        <div class="card-body">
            <h1>Register New Customer</h1>
            <form action='' method='post'>
                {% csrf_token %}
                {{form.as_p}}
                {% comment %} <button type='submit' , name='submitted'>Register Customer</button> {% endcomment %}
                <input type ='submit' value = 'Register Customer' class="btn btn-secondary">
            </form>

            {% if customer%}
            <br> <br>
            
                <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                </symbol>
            </svg>
            <div class="alert alert-success d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                <div>
                    Customer succesfully registered.
                    {% comment %} class="btn btn-outline-success" {% endcomment %}
                    <a href="{% url 'customer_profile' customer.id %}" class="alert-link" >Go to profile </a>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}