{% extends 'customer/customer_base.html' %}

{% block content %}
<div class="container">
    <br>
    <div class="card">
        <div class="card-body">
                <h1>Register New Car</h1>
                <h5>Customer: {{customer}} | Phone Number: {{customer.phone_number}}</h5>
                <br>
                
                <form action='' method='post' >
                    {% csrf_token %}
                    {{form.as_p}}
                
                    <input type ='submit' value = 'Register Car' class="btn btn-secondary">
                </form>
        </div>
    </div>
</div>
{% endblock content %}