{% extends 'customer/customer_base.html' %}

{% block content %}
<div class="container">
    <br>
    <div class="card">
        <div class="card-body">
            <center>
                <h4>Delete "Service ID {{service.id}}" for </h4>

             
                Date: {{service.date}} <br>
                Customer: {{service.customer}} <br>
                Plate Number: {{service.car.plate_number}} ?
                
                <br><br>
                 <form action='' method='post'>
                    {% csrf_token %}
                    <input type ='submit' value = 'Yes' class="btn btn-danger">
                    <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-outline-secondary">No</a>
                    
                </form> 
            </center>
        </div>
    </div>
</div>

{% endblock content %}