
{% extends 'volks/volks_base.html' %}
{% comment %} {% extends 'registration/staff_base.html' %} {% endcomment %}
{% block content %}
    
<div class="container">
    <br>
    
            <div class="row">
                <div class="col-6"> 
                <div class="card">
                <div class="card-body">
                   
                    <h1>Staff Profile</h1>
                    <h4>Basic Information</h4>
                    <br>
                    <label for="group" class="form-label">Group:</label>
                    <input class="form-control" type="text" value="{{user.groups.all.0}}" aria-label="readonly input example" readonly> <br>

                    
                    <form action="{% url 'myprofile' %}" method='post' >
                        {% csrf_token %}
                        {{form.as_p}}                   
                        <input type ='submit' value = 'Update Profile' class="btn btn-secondary">
                    </form> 

                    <br>
                    <a href="{% url 'change_password' %}" class="btn btn-outline-primary" >Change Password </a>
                
                </div></div></div>
                <div class="col-6">
                <div class="card">
                <div class="card-body">
                 
                    <h4>Personal Information</h4>
                    <br>
                    <form action="{% url 'staff_personal_profile' %}" method='post' >
                        {% csrf_token %}
                        {{form2.as_p}}    
                        <input type ='submit' value = 'Update Personal Profile' class="btn btn-secondary">
                    </form> 
                </div></div></div>
            </div>   
       
</div>
{% endblock content %}