{% extends 'registration/staff_base.html' %}

{% block content %}
    
<div class="container">
    <br>
    <div class="card">
        <div class="card-body">
                
                <h1>Staff Registration</h1>
               
                <br>
                
                 <form action='' method='post' >
                    {% csrf_token %}
                    {{form.as_p}}
                
                    <input type ='submit' value = 'Register' class="btn btn-secondary">
                </form> 
                
        </div>
    </div>
</div>
{% endblock content %}